<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd "
        id="WebApp_ID" version="3.0">

<servlet>
        <servlet-name>adicionarContato</servlet-name>
        <servlet-class>AdicionarContatoServelet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adicionarContato</servlet-name>
        <url-pattern>/addContato</url-pattern>
    </servlet-mapping>


    <servlet>
    <servlet-name>removerContato</servlet-name>
        <servlet-class>RemoverContatoServerlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>removerContato</servlet-name>
        <url-pattern>/apagarContato</url-pattern>
    </servlet-mapping>


        </web-app>